
20201026 Email Statement.pdf
20201026a.pdf
.idea/
.idea/*
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/Scrooge.iml
.idea/vcs.xml
__pycache__/scrooge.cpython-37.pyc
20190226a.pdf
20190226 Email Statement.pdf
.DS_Store
/.data
*.pdf
/.idea
__pycache__/app.cpython-311.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.env
__pycache__/scrooge.cpython-311.pyc
persist.duckdb
persist.duckdb.wal
.idea/misc.xml
